# Flutter/Dart specific
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
build/
ios/Pods/
android/.gradle/
.idea/
.vscode/

# Firebase config files
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
lib/firebase_options.dart

# Environment variables
.env
.env.local

# Build files
*.apk
*.aab
*.ipa

# Log files
*.log

# Coverage files
coverage/